<footer>
    <div class=" sectionPadding">

        <div class="portfolioContainer">
            <div class="leftPortfolio">
                <a href="mailto:me@alpopp.com">me@alpopp.com</a>
                <p class="copy">© 2019 Alex Popp. All rights reserved.</p>
            </div>
            <div class="rightPortfolio">
                <div class="social">
                    <a class="twitter" href="https://twitter.com/al_popp" target="_blank"><img src="{{site.baseurl}}/assets/images/twitter.png" alt=""></a>
                    <a class="dribbble" href="https://dribbble.com/alpopp" target="_blank"><img src="{{site.baseurl}}/assets/images/dribbble.png" alt=""></a>
                    <a class="codepen" href="https://codepen.io/apopp/" target="_blank"><img src="{{site.baseurl}}/assets/images/codepen.png" alt=""></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/alex-popp-60b272a7/" target="_blank"><img src="{{site.baseurl}}/assets/images/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>

        
        
    </div>
</footer>