<nav>

            <div class="row">
                    <div class="navLeft"><a href="{{site.baseurl}}/">Alex Popp</a></div>
                    <div class="navRight">
                        <div class="menuItems">
                            <a {% if page.url == "/about" %}class="current"{% endif %} href="{{site.baseurl}}/about">About</a>
                            <a {% if page.url == "/contact" %}class="current"{% endif %} href="/contact">Contact</a>
                        </div>
                        <div id="hamburger" class="menu-wrapper" onclick="navClick()">
                            <div class="hamburger-menu"></div>	  
                        </div>
                              
                              
                    </div>
                </div>

    

</nav>

