<nav>

    <div class="row">
        <div class="navLeft"><a href="/">Alex Popp</a></div>
        <div class="navRight">
            <div class="menuItems">
                <a href="#">Work</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div id="hamburger" class="menu-wrapper" onclick="navClick()">
                <div class="hamburger-menu"></div>	  
            </div>
                  
                  
        </div>
    </div>

</nav>