<!doctype html>
<html>
    {% include header.html %}
    <body>
        {% include nav.html %}
        
        <div class="portfolioIntro" style="background:#{{page.color}};">
            <div class="container  sectionPadding">
                <div class="portfolioContainer">
                    <div class="leftPortfolio">
                        <h1>{{page.title}}</h1>
                        <p class="tags">{{page.tagz}}</p>
                    </div>
                    <div class="rightPortfolio">
                        {% if page.link %}
                            <a href="{{page.link}}" target="_blank" class="button">View Project</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container sectionPadding flex portfolioFlex">
            <div class="portfolioContent--left">
                {{ content }}
            </div>
            <div class="portfolioContent--right">
                <img src="/assets/{{page.img}}" alt="">
            </div>
        </div>
        
        
        

        <div class="container sectionPaddingBottom">
            <p><a href="{{site.baseurl}}/work">Back to all work</a></p>
        </div>

       
        {% include footer.html %}
    </body>
    <script src="{{site.baseurl}}/assets/js/script.js"></script>
</html>